.vscode/**
.vscode-test/**
src/**
out/test/**
scripts/**
assets/marketplace/**
.gitignore
.yarnrc
eslint.config.mjs
package-lock.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
